{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="{% static 'pomodo/css/timer.css' %}">
</head>

<body>
    <div class="timer-container">
        <h1>Pomodoro Timer</h1>
        <div id="timer-display">00:00</div>
        <button id="start-button">Sturt</button>
        <button id="pause-button" disabled>Paws</button>
        <button id="cancel-button" style="display:none;">Okay... I'm done!</button>
    </div>

    <audio id="warning-sound" src="{% static 'pomodo/audio/warning.m4a' %}"></audio>
    <audio id="alarm-sound" src="{% static 'pomodo/audio/alarm.m4a' %}" loop></audio>

    <script src="{% static 'pomodo/js/timer.js' %}"></script>
</body>

</html>